@import "./styles";
@import "./mediaQueries";

.about {
  @include sectionDisplay();
  @include sectionTitle();

  .section-content {
    @include displayFlex(center, flex-start);
    @include mediaSectionContent();
    margin: $top-section;
    .image-and-icons {
      display: flex;
      flex-direction: column;
      margin-right: 3rem;
      @include mediaImageIcons();
      .icons {
        ul {
          @include displayFlex(center, none);
          @include mediaIconUl();
          list-style: none;
          margin-top: 2rem;
          padding: 0;
          li {
            margin: 0 1rem;
            @include iconTag(translate(0, -7px));
          }
        }
      }
      .picture {
        @include imageSize();
        @include mediaPicture();
        opacity: 0.6;
        object-fit: cover;
        filter: grayscale(100%);
        border: solid 2px $green-logo;
        transition: filter 0.7s ease-out, transform 0.7s ease-out;
        &:hover {
          filter: none;
          transform: scale(1.05);
        }
      }
    }

    .text {
      color: $highlight-text;
      width: 30rem;
      line-height: $space-between-lines;
      @include mediaText();
      p {
        margin-top: 0;
      }
      .highlight {
        color: $green-logo;
      }
      .skills {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0;
        font-family: $futuristic;
        @media (max-width: 500px) {
          grid-template-columns: 1fr 1fr;
        }
        li {
          margin: 0.2rem 0;
          list-style: none;
          &:hover {
            color: $green-logo;
          }
          &::before {
            content: "•";
            color: $green-logo;
            margin: 0.5rem;
          }
        }
      }
    }
  }
}
