@import "./styles.scss";

.logo-animation {
  svg {
    @include positionFixedTop;
    z-index: 2;
    height: 100%;
    width: 100%;
    background-color: $animation-logo-background;
    animation: displayNone 1s 3.8s forwards;
    @keyframes displayNone {
      to {
        visibility: hidden;
      }
    }
    g {
      circle {
        @include stroke;
        fill: $animation-logo-background;
        animation: draw 3s 1s forwards, shrink 0.2s 4.5s forwards;
        animation-timing-function: ease-in-out;
        transform-origin: center;
        @keyframes draw {
          to {
            stroke-dashoffset: 0;
          }
        }
        @keyframes shrink {
          to {
            transform: scale(0);
          }
        }
      }
      text {
        @include stroke;
        text-anchor: middle;
        fill: $green-logo;
        fill-opacity: 0;
        font-size: 0.7rem;
        animation: contour 3.5s forwards, fill-in 2s 2s forwards,
          shrinks 0.2s 4.5s forwards;
        animation-timing-function: ease-in-out;
        transform-origin: center;
        @keyframes contour {
          0% {
            stroke-dashoffset: 50;
            stroke-dasharray: 50;
          }
          100% {
            stroke-dashoffset: 0;
            stroke-dasharray: 0;
          }
        }
        @keyframes fill-in {
          to {
            fill-opacity: 1;
          }
        }
        @keyframes shrinks {
          to {
            font-size: 0;
            transform: scale(0);
          }
        }
      }
    }
  }
}
